<% include ./partials/header %>

<body class="container">
    <h1>Login!</h1>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <!-- <input type="submit" value="Login!"> -->
        <button class="btn btn-primary btn-lg">Log In</button>        
    </form> 
</body>


<% include ./partials/footer %>
