<% include ../partials/header %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to EdaMate!</h1>
			<p>View our hand picked educators from all over the world
			</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/educators/new">Create an EdaMate Profile</a>
			</p>
		</div>
	</header>

	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
		<% educators.forEach(function(educator){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src="<%=educator.educatorImage%>">
					<div class="caption">
						<h4><%= educator.educatorName %></h4>
					</div>
					<p>
						<a href="/educators/<%=educator._id%>" class="btn btn-primary">Educator Profile</a>
					</p>
				</div>
			</div>
		<% }); %>
	</div>
</div> <!-- end body container -->

<% include ../partials/footer %>
